input[type=text] {
  border: none;
  font-weight: 600;
  font-size: 23px;
  /* border-bottom: 2px solid red; */
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

input[type=text]:focus, textarea:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;

}

.action-button {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.action-button:hover {
  background-color: #343a40 !important;
  color: #fff;
  cursor: pointer;
}

.card-footer {
  visibility: hidden;
  background-color: #fff;
  border-top: none;
}

.card:hover .card-footer {
  visibility: visible;
}
